<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css"
    />
<style type="text/css">
body{
    background-color:blue;
    color:white;
}
</style> 
  </head>
  <script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script language="JavaScript" type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
  <style>
ul li{
   float:right;
   list-style:none;
   border:5px solid black;
}
</style>
  <body>
    <script>
      $(document).ready(function () {
        $("#mytable").DataTable();
      });
    </script>
    <ul>
<a href="/logout/"><li>Log Out</li></a>
<a href="/userdata/"><li>Add Now</li></a>
</ul>
    <table
      class="table table-striped table-bordered"
      id="mytable"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th>Name of the donor</th>
          <th>Details of the donor</th>
          <th>blood group of the donor</th>
          <th>Age</th>
          <th>Start date</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        {% for data in datas %}
        
        <tr>
          <td>{{data.user1}}</td>
          <td>{{data.donardts}}</td>
          <td>{{data.bdgroup}}</td>
          <td>{{data.age}}</td>
          <td>{{data.none}}</td>
          <td>{{data.none}}</td>
          
        </tr>
        
        {% endfor %}
    </table>
  </body>
</html>
